{% extends 'base.html.twig' %}

{% block title %}Ответ учащегося{% endblock %}

{% block body %}
    <a href="{{ path('answer_index') }}" class="back">назад к списку</a>
    {{ include('answer/_delete_form.html.twig') }}

    <div class="container lesson-container" style="padding-top:10px;">
        <h2 class="text-break">Ответ</h2>
        <div class="row m-2 mt-3 p-2 lesson-row">
                <div class="col-md-2 lesson-head">Учащийся (Email, Имя)</div>
                <div class="col-md-auto lesson-text text-break">{{ answer.user.email }}, {{ answer.user.name }}</div>
        </div>
        <div class="row m-2 mt-3 p-2 lesson-row">
                <div class="col-md-2 lesson-head">Тема</div>
                <div class="col-md-auto lesson-text">{{ answer.lesson.theme.name }}</div>
        </div>
        <div class="row m-2 mt-3 p-2 lesson-row">
                <div class="col-md-2 lesson-head">Урок</div>
                <div class="col-md-auto lesson-text">{{ answer.lesson.name }}</div>
        </div>
        <div class="row m-2 mt-3 p-2 lesson-row">
                <div class="col-md-2 lesson-head">Дата и время</div>
                <div class="col-md-auto lesson-text">{{answer.date|date("d/m/Y H:i")}}</div>
        </div>
        <div class="row m-2 mt-3 p-2 lesson-row">
                <div class="col-md-2 lesson-head">Результат</div>
                <div class="col-md-auto lesson-text"><img src="{{answer.pathImage}}" class="img-fluid"></div>
        </div>

        {% if is_granted('ROLE_TEACHER') %} 
            <div class="row m-2 p-2 lesson-row">
                <div class="col-md-12 lesson-head">Отметка</div>
                <form name="sendImage" method="post" action="{{ path('set_mark', {'id': answer.id}) }}">
                    <input class="form-control" type="input" id="mark" name="mark" value="{{answer.mark}}">
                    <button class="btn btn-primary mt-3">Оценить</button>
                </form>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
