{% extends 'base.html.twig' %}

{% block title %}Профиль {{ user.email }}{% endblock %}

{% block body %}
    <a href="{{ path('admin_index') }}" class="back">назад к списку</a>

    <div class="container lesson-container" style="padding-top:10px;">
        <h2 class="text-break">Пользователь {{ user.email }}</h2>
        <div class="row m-2 mt-3 p-2 lesson-row">
                <div class="col-md-2 lesson-head">Id</div>
                <div class="col-md-auto lesson-text">{{ user.id }}</div>
        </div>
        <div class="row m-2 mt-3 p-2 lesson-row">
                <div class="col-md-2 lesson-head">Роль</div>
                <div class="col-md-auto lesson-text">{{ user.roles ? user.roles|json_encode : '' }}</div>
        </div>
        <div class="row m-2 mt-3 p-2 lesson-row">
                <div class="col-md-2 lesson-head">Хэш пароля</div>
                <div class="col-md-auto lesson-text text-break">{{ user.password }}</div>
        </div>

        <form class="row m-2 mt-3 p-2 lesson-row" id="saveUser" method="post" action="{{ path('edit_user', {'id' : user.id}) }}">
           <div class="col-md-3 lesson-head">Права доступа</div>
           <div>
                <select class="form-select col-md-auto lesson-text text-break" id="role" name="role">
                {% for role in roles %}
                    <option value = "{{role}}">{{role}}</option>
                {% endfor %}
                </select>
            </div>            

           <div>
           <div class="col-md-2 lesson-head">email</div>
                <input class="form-control col-md-auto lesson-text text-break" type="input" id="email" name="email" value="{{user.email}}">
           </div>

           <div>
           <div class="col-md-2 lesson-head">Имя</div>
            <input class="form-control col-md-auto lesson-text text-break" type="input" id="name" name="name" value="{{user.name}}">
            </div>
            <input type="submit" class="btn btn-primary mt-2" value="{{button_label|default('Сохранить') }}">
        </form>
    </div>
        
{% endblock %}
