{% extends 'base.html.twig' %}

{% block title %}Группы{% endblock %}

{% block body %}
    <h1>Группы</h1>

    <div class="row">
        {% for group in groups %}
            <div class="col-md-4">
                <div class="card mb-4" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        <a href="{{ path('group_themes', {'id': group.id}) }}" class="stretched-link">{{ group.name }}</a>
                    </div>
                    {# {% if is_granted('ROLE_TEACHER') %}
                        <div class="card-footer d-flex justify-content-between">
                            <a href="{{ path('group_edit', {'id': group.id}) }}" class="btn btn-outline-secondary btn-sm">Изменить</a>
                            {{ include('group/_delete_form.html.twig') }}
                        </div>
                    {% endif %} #}
                </div>
            </div>
        {% else %}
            <p>Нет групп</p>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_TEACHER') %}
        <a href="{{ path('group_new') }}" class="btn btn-primary">Создать группу</a>
    {% endif %}
{% endblock %}