{% extends 'base.html.twig' %}

{% block title %}Урок{% endblock %}

{% block body %}
    <a href="{{ path('subject_index') }}" class="back">назад к списку</a>

    {% if is_granted('ROLE_ADMIN') %} 
        <a href="{{ path('lesson_edit', {'id': lesson.id}) }}" class="back">изменить</a>
        {{ include('lesson/_delete_form.html.twig') }}
    {% endif %}

    <div class="container lesson-container">
    <h1 class="red-text">{{ lesson.name }} </h1>
        <div class="row m-2 mt-3 p-2 lesson-row">
            <div class="col-md-2 lesson-head">Цель</div>
            <div class="col-md-auto lesson-text">{{ lesson.target }}</div>
        </div>
        <div class="row m-2 p-2 lesson-row">
            <div class="col-md-2 lesson-head">Конечный результат</div>
            <div class="col-md-auto lesson-text">{{ lesson.task }}</div>
        </div>
        <div class="row m-2 p-2 lesson-row">
            <div class="col-md-2 lesson-head">Инструменты и материалы</div>
            <div class="col-md-auto lesson-text">{{ lesson.instrumentation }}</div>
        </div>
        <div class="accordion accordion-flush" id="accordionTheory">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheory" aria-expanded="true" aria-controls="collapseTheory">
                    <strong>Теоретический материал</strong>
                </button>
                </h2>
                <div id="collapseTheory" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionTheory">
                <div class="accordion-body">
                    {{ lesson.theory|raw }}
                </div>
                </div>
            </div>
        </div>
        <div class="row m-2 p-2 lesson-row">
            <div class="col-md-12 lesson-head">Видеоурок</div>
            <div class="col-md-12 lesson-text">{{ lesson.video|raw }}</div>
        </div>
        {% if is_granted('ROLE_STUDENT') %} 
            <div class="row m-2 p-2 lesson-row">
                <div class="col-md-12 lesson-head">Отправить работу</div>
                <form enctype="multipart/form-data" name="sendImage" method="post" accept="image/*" action="{{ path('send_image', {'id': lesson.id}) }}">
                    <label for="commentStudent" class="form-label mb-0">Комментарий</label>
                    <textarea name="commentStudent" id="commentStudent" class="form-control"></textarea>
                    <label for="image" class="form-label mt-2 mb-0">Файл</label>
                    <input class="form-control" type="file" id="image" name="image" onchange="preview()" class="mt-0">
                    <button onclick="clearImage()" class="btn btn-primary mt-3">Отправить</button>
                </form>
                </div>
                <img id="frame" src="" class="rounded mx-auto d-block" />
            {% if inf_msg is defined %}
                <div style="color:red;">{{ inf_msg }}</div>
            {% endif %}
            
                <div class="row m-2 p-2 lesson-row">
                    <div class="col-md-12 lesson-head">Ваша отметка: <strong>{{ answer.mark|default('-') }}</strong></div>
                </div>

                <div class="row m-2 p-2 lesson-row">
                   <div class="col-md-12 lesson-head">Ваш комментарий</div>
                    <div class="col-md-auto lesson-text">{{ answer.commentStudent|default('') }}</div>
                </div>
                <div class="row m-2 p-2 lesson-row">
                   <div class="col-md-12 lesson-head">Комментарий преподавателя</div>
                    <div class="col-md-auto lesson-text">{{ answer.commentTeacher|default('') }}</div>
                </div>
            </div>
        {% endif %}
   </div> 

{% endblock %}
